div.vh-margin {
    margin: 10px;
}

div.v-margin {
    margin: 10px 0;
}

div.h-margin {
    margin: 0 10px;
}

/* BUTTONS */

.btn-primary {
    background-color: lightseagreen;
    border: 2px solid lightseagreen;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    font-size: 16;
    border-radius: .5em;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, .1);
    outline: none;
}

.btn-primary:hover {
    color: lightseagreen;
    background-color: white;
    border: 2px solid lightseagreen;
    cursor: pointer;
    outline: none;
}

/* Form Elements */

input {
    border: 2px solid lightseagreen;
    border-radius: 3px;
    height: 2.8em;
    margin: 0px 10px 0px 0px;
    padding: 5px 10px;
}

input:focus {
    outline: none;
    background-color: rgba(32,178,170, 0.1)
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: rgba(32,178,170, 0.1);
}